.popcorn-maker
  width 560px
  height 350px

  .mini-menu .mini-menu-inner .identifier-button {
    background-position: -63px 2px;
    background-size: 200px;
  }

.popcorn-maker iframe
  border 0
  width 100%
  height 100%