.app-overlay
  position fixed
  z-index 99999
  top 0
  left 0
  bottom 0
  right 0
  background rgba(0, 0, 0, 0.8)
  transition opacity 0.1s ease
  opacity 0
  visibility hidden

  &.on
    opacity 1
    visibility visible

  .app-iframe-container
    position absolute
    top 50px
    left 50px
    right 50px
    bottom 50px

  .app-iframe
    width 100%
    height 100%