header {
  background: #2A2D32;
  height: 70px;
  line-height: 70px;
  position: relative;
}

header h1 {
 margin: 0;
 color: #FFF;
 font-size: 1.4em;
 text-align: center;
}

.input-container {
  width: 100%;
  margin: 10px 0;
  text-align: center;
}

.input-container input {
  width: 300px;
  padding: 1em;
  border: 1px solid #DDD;
}
.input-container input:focus {
  border: 1px solid #FFCA47;
  outline: none;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
}

.menu ul {
  list-style: none;
  margin: 0;
  margin-left: 10px;
  margin-top: 5px;
  padding: 0;
  height: 100%;
  width: 200px;
}

.menu ul li {
  display: inline-block;
  background: url('https://popcorn.webmaker.org/resources/controls/controls_icons.png'), #000;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  transition: all 0.2s ease;
  border-radius: 5px;
  cursor: pointer;
}

.menu ul li:hover {
    background: url('https://popcorn.webmaker.org/resources/controls/controls_icons.png'), #999;
}

.menu ul li:nth-child(1) {
    background-position: -63px -3px;
}

.menu ul li:nth-child(2) {
    background-position: 5px -3px;
}