.main-view {
  right 10px
  left 10px
  height 400px
  margin 20px 20px
  background #fff
  border-radius 10px
  position relative

  iframe {
    margin 20px
    width 560px
  }

  .description {
    position absolute
    top 0
    left 700px
    right 0
    bottom 0

    .body {
      ul {
        list-style none
        
        li {
          height 30px
          margin 20px 0
          line-height 30px

          img {
            width 30px
            height 30px
            float left
            margin-right 10px
          }
        }
      }
    }

    .mini-menu {
      position absolute
      bottom 20px
      height 45px
      right 20px
      left 20px

      .mini-menu-inner {
        opacity 1
        top 0

        .identifier-button {
          background-position: -63px 2px;
          background-size: 200px;
        }
      }
    }

    .header {
      margin 20px
      padding 15px
      border-radius 5px
      background #00C78C
      color #fff
      font-size 110%
      text-align left
      position relative
      height 45px
      padding-left 70px

      p {
        margin 0
      }

      &:before {
        background-image url('https://popcorn.webmaker.org/resources/controls/controls_icons.png')
        background-position 4px -36px
        content ''
        height 50px
        width 60px
        position absolute
        left 10px
      }
    }
  }
}