// Useful mixins used across stylus files

transition()
  -webkit-transition: arguments;
  -moz-transition: arguments;
  -o-transition: arguments;
  transition: arguments;

transform()
  -webkit-transform: arguments;
  -moz-transform: arguments;
  -o-transform: arguments;
  transform: arguments;

transform-origin()
  -webkit-transform-origin: arguments;
  -moz-transform-origin: arguments;
  -o-transform-origin: arguments;
  transform-origin: arguments;

border-box()
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

clearfix()
  &:after
    content: "";
    display: table;
    clear: both;
