@import 'mini-menu';

iframe.panel {
  boder 0

  &.unit-small {
    height 200px

    &.portrait  {
      height 500px
    }
  }

  &.unit-large {
    height 315px

    &.portrait {
      height 700px
    }
  }

}

.panel {

  &.unit-small {
    width 275px
  }

  &.unit-large {
    width 560px
  }

  img {
    width 100%
  }

  padding 5px
  padding-bottom 50px
  background #fff

  &.remix-mark {
    background #20BF9F 
  }
}