.profile {
  position: absolute;
  top: 0px;
  right: 5px;
  color: #fff;
}

.profile .profile-pic {
  width: 50px;
  background: #fff;
  padding: 4px;
  top: 5px;
  position: relative;
  float: right;
}

.profile h2 {
  margin-top: 0;
  padding-top: 0;
  position: relative;
  right: 20px;
  text-align: right;
  width: 300px;
  font-size: 1em;
  opacity: 0.8;
}