@import 'panel';
@import 'snippets/popcorn-maker';
@import 'snippets/flickr';
@import 'snippets/googlemap';
@import 'snippets/popcorn';
@import 'snippets/url';
@import 'snippets/text';
@import 'snippets/wikipedia';
@import 'snippets/thimble';

.wall {
  margin 0 auto
  transition: height 0.6s ease, width 0.6s ease, opacity 0.2s ease;
  width 100%
  opacity 0

  &.on {
   opacity 1
  }
}

.input-container {
  width: 100%;
  text-align: center;

  input {
    width: 300px;
  }

  margin-bottom: 20px;
}
