.masonry-brick:hover .mini-menu-inner {
  top: 0;
  opacity: 1;
}

.mini-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  overflow: hidden;

  .mini-menu-inner {
    position: absolute;
    background: rgba(255,202,71, 0.6);
    top: -45px;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1;
    height: 100%;
    opacity: 0;
    transition: all 0.1s ease;

    & > li {
      padding: 0 1em;
      line-height: 45px;
      float: left;
      color: #555;
      border-right: 1px solid #DFAD50;
      margin-top: 8px;
      width: 28px;
      height: 28px;
      border-radius: 3px;
      cursor: pointer;

      a {
        display: block;
        width: 100%;
        height: 100%;
        background: url( https://popcorn.webmaker.org/resources/controls/controls_icons.png) no-repeat;

        &:hover {
          background-color: rgba(255,202,71, 1);
        }
      }
    }

    .explode-button {
      background-position: 7px -2px;
    }

    .edit-button {
      width: 32px;
      background-position: -27px -2px;
    }

    .x {
      position: absolute;
      top: 5px;
      right: 0;
      height: 24px;
      width: 24px;
      background: url( "https://popcorn.webmaker.org/resources/icons/glyphiconshalflings-alt.png" ) -432px -24px no-repeat;
    }

  }

}