@import 'panel';
@import 'snippets/googlemap';
@import 'snippets/popcorn';
@import 'snippets/url';
@import 'snippets/text';

.wall {
  margin 0 auto
  -webkit-transition height 0.6s ease, width 0.6s ease
  -moz-transition height 0.6s ease, width 0.6s ease
  transition height 0.6s ease, width 0.6s ease
  width 100%
  opacity 0
  -webkit-transition opacity 0.2s ease
  -moz-transition opacity 0.2s ease
  transition opacity 0.2s ease
  
  &.on {
   opacity 1
  }
}

.unit-small {
  width: 275px;
}

iframe {
  border: 0;
}

iframe.unit-small {
  height: 200px;
}

iframe.unit-small.portrait  {
 height: 500px;
}

.unit-large {
  width: 560px;
}

iframe.unit-large {
  height: 315px;
}

iframe.unit-large.portrait {
  height: 700px;
}